[submodule "hpc_drive"]
	path = hpc_drive
	url = https://github.com/stardust-zip/hpc_drive
[submodule "hpc_dispatch_management"]
	path = hpc_dispatch_management
	url = https://github.com/stardust-zip/hpc_dispatch_management
[submodule "Module_Tuyendung"]
	path = Module_Tuyendung
	url = https://github.com/vxnam04/Module_Tuyendung
[submodule "System-Management"]
	path = System-Management
	url = https://github.com/hoanghungict/System-Management
[submodule "fe-portal"]
	path = fe-portal
	url = https://gitlab.com/hoanghung.ict/fe-portal
